.cart-list {
  background-color: #f5f5f5;
}


.cart-item-description {
  font-size: 0.9rem;
  color: #666;
}

.cart-total {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: right;
}
.cart-checkout {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
.cart-checkout button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}